#json_cards {
  padding-right: 20px;
  margin: 5px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

#json_form_read {
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  max-width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: rgb(194, 194, 194);
  /* padding: 0px; */
}

#json_form_read h2 {
  color: #8322dd;
}

#json_form_read input,
textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  height: 15px;
}

#json_form_read input:focus,
textarea:focus {
  border: 3px solid #8322dd;
  color: black;
}

#json_form_read textarea {
  width: 90%;
  min-height: 40px;
  height: 100px;
  line-height: 20px;
  max-width: 400px;
  resize: vertical;
  height: 10px;
}

#json_form_read label {
  margin-left: 20px;
  color: #8322dd;
  font-weight: bold;
}

#json_form_read .input_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#json_form_read .input_block,
.input_block_num {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
#json_form_read .input_block_num input {
  width: 150px;
}
#json_form_read .input_block input {
  width: 90%;
}

.add_card {
  background-color: #8322dd;
  font-weight: bold;
  margin: 20px;
  color: #fff;
  font-size: 23px;
  width: 140px;
  height: 45px;
  border-radius: 30px;
  border: none;
}
.add_card:hover {
  background-color: #591f8fc4;
  color: rgba(255, 255, 255, 0.849);
  cursor: pointer;
}
